body{
  background-color: #C0AFA8;
  color: white;
}
.whiteRow60{
  min-height: 60px;
}
.whiteRow20{
  min-height: 20px;
}
.whiteRow6{
  min-height: 2px;
}
.gamePanel{
  background-color: #B33A32; /*DELETE*/
  min-height: 800px; /*DELETE*/
  width: 688.2857142864px;
}
.colorPanel{
  min-width: 274.285714286px;
  background-color: rgba(86,93,103,1); /*DELETE*/
  min-height: 600px; /*DELETE*/
}
.resultPanel{
 background-color: rgba(86,93,103,1);
  min-height: 300px; /*DELETE*/
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.buttonPanel{
  background-color: #4D82B3; /*DELETE*/
}
.finalSolution{
  background-color: #4D82B3; /*DELETE*/
}
.colorSection, .resultColorRow, .colorButton{
 background-color: rgba(150,180,207,0.7); /*DELETE*/
  margin-top: 10px;
}
.colorSection:last-child, .resultColorRow:last-child, .colorButton:last-child{
  margin-bottom: 10px;
}
.colors{
  margin-top: 3px;
  margin-bottom:3px;
}
.colors, .colorButton{
  background-color: black; /*DELETE*/
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.resultColor{
  background-color: black; /*DELETE*/
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.resultColorRow div:nth-of-type(2), .resultColorRow div:nth-of-type(5){
  margin-right: 10%;
  margin-left: 7.5%;
}
.questionMark {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
button[disabled=disabled], button:disabled {
    background: #95B2CC;
}
.buttonPanel button{
  vertical-align: top;
  height: 40px;
  padding: 0;
  border-bottom: 1px;
  border-top: 1px;
  border-right: 1px;
  border-left: 0.5px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background 0.5s;
}
.activeButton:hover{
 background: #208C4E;
}
.activeButton{
  background: #375D80;
}